/* Sidebar Scrollbar - WebKit */
.sidebar::-webkit-scrollbar {
  width: 2px; 
}

.sidebar::-webkit-scrollbar-track {
  background: #121212;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px #0e0e0e,
              inset -5px -5px 10px #161616; 
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: darkred;
  border-radius: 10px;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.4),
              inset -2px -2px 5px rgba(255, 0, 0, 0.1);
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background-color: #ff0000;
}

/* Firefox */
.sidebar {
  scrollbar-width: thin;
  scrollbar-color: rgba(236, 11, 33, 0.7) #121212;
}
